<!-- Модальное окно для универсальных уведомлений -->
<div id="custom-alert" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="close-alert-btn">&times;</span>
        <p id="alert-message">Сообщение</p>
        <button id="alert-ok-btn">OK</button>
    </div>
</div>

<!-- Модальное окно для удаления -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>Удалить загруженный файл?</p>
        <button id="confirm-delete-btn" class="btn btn-danger">Удалить</button>
        <button id="cancel-delete-btn" class="btn btn-secondary">Отмена</button>
    </div>
</div>