<!-- Модальное окно для универсальных уведомлений -->
<div id="custom-alert" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="close-alert-btn">&times;</span>
        <p id="alert-message">Сообщение</p>
        <button id="alert-ok-btn">OK</button>
    </div>
</div>

<!-- Модальное окно для удаления -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>Удалить загруженный файл?</p>
        <button id="confirm-delete-btn" class="btn btn-danger">Удалить</button>
        <button id="cancel-delete-btn" class="btn btn-secondary">Отмена</button>
    </div>
</div>

<!-- Подтверждение удаления сохранённого графика -->
<div id="deleteSavedChartModal" class="modal">
    <div class="modal-content">
        <p id="delete-saved-chart-message">Удалить этот сохранённый график?</p>
        <button type="button" id="confirm-delete-saved-chart-btn">Удалить</button>
        <button type="button" id="cancel-delete-saved-chart-btn">Отмена</button>
    </div>
</div>